@charset "UTF-8";
/* CSS Document */
body
{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:auto;
	padding: 4px;
	background-color:#966
}
/*+++++++++++++++++++++++++++++++++++++++++++++++  nav  ++++++++++++++++++++++++*/
ul
{
	list-style:none;
	margin:3px;
	padding:3px;
	overflow:hidden;
	color:#990;
}
li
{
	float:left;
}
{
	a:link,a:visited
}
		
