
body
{
	font: 115%/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px;
	padding:5px;
	background-color:#996;
	
}
img
{
 	margin:6px;
	border:3px solid;
	height:auto;
	width:auto;
	float:inherit;
	border-style:outset;
	border-radius:10px;
	
	

/*+++++++++++++++++++++++++++++++++++++++++++++++  nav  ++++++++++++++++++++++++*/
