
body
{
	font: 115%/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:5px;
	padding:5px;
	background-color:#996;
	
}
img
{
 	margin:6px;
	border:3px solid;
	height:auto;
	width:auto;
	float:inherit;
	border-style:outset;
	border-radius:10px;
}
h2
{
	text-align:center;
	font-size:1.5em;
	font-family:"Courier New", Courier, monospace;
	color: #000;
}
.title
{
	text-align:center;
	font-size:1.5em;
	font-family:'Ewert',cursive;
	color: #563433;
	
	
}
/*=============================== nav ===========================================*/
nav{
	margin:auto;
	padding:inherit;
	width:500px;
	font-family:Verdana, Geneva, sans-serif;
	display: inline;
	background-color:#063;
	float:right;
	
}
ul, li.link{
	margin:auto;
	padding:auto;
	list-style:none;
	display:block;
 	width:10em;
 	line-height:2em;
 	font-size:1em;
 	background-color:#993;	
}












