@charset "UTF-8";
/* CSS Document */
@media screen and (max-width: 960px) {

		

}

@media screen and (max-width: 758px) {
	
	#boxmain       {display:none;}
	.box 		   {display:inline;}
	p				{color:#000;}
}

@media screen and (max-width: 524px) {
	#img.displayed {display:none;}
	#boxmain       {display:none;}
	.box 		   {display:inline;}

}


